<section class="bg-light d-flex justify-content-center flex-column">
  <div class="section-1 my-5">
    <div class="container">
      <div
        class="
          promise-section
          mx-auto
          d-flex
          flex-column
          bg-white
          text-center
          justify-contents-center
          card
        "
      >
        <h3 class="mb-4 promise-section--title">OUR PROMISE</h3>
        <div
          class="
            promises
            px-2
            d-flex
            flex-wrap
            justify-content-center
            align-items-center
          "
        >
          <div class="promise-section--promise">Security</div>
          <span class="separator text-black px-3">•</span>
          <div class="promise-section--promise">Transparency</div>
          <span class="separator text-black px-3">•</span>
          <div class="promise-section--promise">Ease</div>
          <span class="separator text-black px-3">•</span>
          <div class="promise-section--promise">Efficiency</div>
        </div>
      </div>
    </div>
  </div>

  <div class="section-2 my-3">
    <div class="container">
      <div
        class="mx-auto d-flex flex-column text-center justify-contents-center"
      >
        <h3 class="mb-4 promise-section--title">Fundraising</h3>
        <h3 class="mb-4 promise-section--subtitle">
          Start Raising Funds in 4 Simple Steps
        </h3>

        <div class="fundraising-steps d-flex flex-wrap align-items-center">
          <div
            class="
              fundraising-step
              d-flex
              card
              flex-wrap
              justify-content-center
              text-center
            "
          >
            <div
              class="
                mt-0
                mb-auto
                align-items-center
                d-flex
                flex-column flex-wrap
              "
            >
              <img alt="illustration for Create A Campaign" 
              src="/assets/images/create-campaign.svg" />
              <p class="step-title mb-2">Step 1: Create A Campaign</p>
              <p class="step-description mb-0">
                Sign up for free, set your target amount, choose your campaign
                end date
              </p>
            </div>
          </div>

          <div
            class="
              fundraising-step
              d-flex
              card
              flex-wrap
              justify-content-center
              text-center
            "
          >
            <div
              class="
                mt-0
                mb-auto
                align-items-center
                d-flex
                flex-column flex-wrap
              "
            >
              <img alt="illustration for Tell Your Story " src="" />
              <p class="step-title mb-2">Step 2: Tell Your Story</p>
              <p class="step-description mb-0">
                Upload a picture or video, share your motivating story, create
                your personal Thank You note to your donors
              </p>
            </div>
          </div>

          <div
            class="
              fundraising-step
              d-flex
              card
              flex-wrap
              justify-content-center
              text-center
            "
          >
            <div
              class="
                mt-0
                mb-auto
                align-items-center
                d-flex
                flex-column flex-wrap
              "
            >
              <img alt="illustration for Share Your Campaign" src="" />
              <p class="step-title mb-2">Step 3: Share Your Campaign</p>
              <p class="step-description mb-0">
                Spread the word through your social media handles with a click,
                or simply copy campaign link and use on any platform
              </p>
            </div>
          </div>

          <div
            class="
              fundraising-step
              d-flex
              card
              flex-wrap
              justify-content-center
              text-center
            "
          >
            <div
              class="
                mt-0
                mb-auto
                align-items-center
                d-flex
                flex-column flex-wrap
              "
            >
              <img alt="illustration for Start Receiving Funds " src="" />
              <p class="step-title mb-2">Step 4: Start Receiving Funds</p>
              <p class="step-description mb-0">
                Monitor your campaign from your dashboard with real time
                donation activities
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-white d-flex justify-content-center flex-column">
  <div class="section-3 my-5">
    <div class="container">
      <div
        class="mx-auto d-flex flex-column text-center justify-contents-center"
      >
        <h3 class="mb-4 promise-section--title">
          Keeping a Close Watch on Your Campaigns
        </h3>

        <div class="d-flex flex-wrap">
          <div
            class="
              col-md-5 col-sm-12
              d-flex
              justify-content-center
              align-items-center
              flex-wrap
              left-section
            "
          >
            <img
              src=""
              alt="illustration of a woman clicking the web"
              class="left-img"
            />
          </div>
          <div class="col-md-7 col-sm-12 px-0 right-section">
            <div
              class="
                d-flex
                flex-wrap
                justify-content-center justify-content-ml-end
              "
            >
              <div class="watch-campaign-components d-flex flex-wrap">
                <div
                  class="
                    watch-campaign
                    d-flex
                    card card-shadow
                    flex-wrap
                    justify-content-center
                    text-center
                  "
                >
                  <div
                    class="
                      mt-0
                      mb-auto
                      align-items-center
                      d-flex
                      flex-column flex-wrap
                    "
                  >
                    <img alt="illustration for" src="" />
                    <p class="watch-campaign-description mb-0">
                      Interactive Dashboard to monitor and manage campaigns
                    </p>
                  </div>
                </div>
                <div
                  class="
                    watch-campaign
                    d-flex
                    card card-shadow
                    flex-wrap
                    justify-content-center
                    text-center
                  "
                >
                  <div
                    class="
                      mt-0
                      mb-auto
                      align-items-center
                      d-flex
                      flex-column flex-wrap
                    "
                  >
                    <img alt="illustration for" src="" />
                    <p class="watch-campaign-description mb-0">
                      Intelligent Reports on donation activities
                    </p>
                  </div>
                </div>
                <div
                  class="
                    watch-campaign
                    d-flex
                    card card-shadow
                    flex-wrap
                    justify-content-center
                    text-center
                  "
                >
                  <div
                    class="
                      mt-0
                      mb-auto
                      align-items-center
                      d-flex
                      flex-column flex-wrap
                    "
                  >
                    <img alt="illustration for" src="" />
                    <p class="watch-campaign-description mb-0">
                      Edit your campaign details including dates and targets
                    </p>
                  </div>
                </div>
                <div
                  class="
                    watch-campaign
                    d-flex
                    card card-shadow
                    flex-wrap
                    justify-content-center
                    text-center
                  "
                >
                  <div
                    class="
                      mt-0
                      mb-auto
                      align-items-center
                      d-flex
                      flex-column flex-wrap
                    "
                  >
                    <img alt="illustration for" src="" />
                    <p class="watch-campaign-description mb-0">
                      Build your community; get donors to follow you.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-light d-flex justify-content-center flex-column">
  <div class="section-4 my-5">
    <div class="container">
      <div
        class="mx-auto d-flex flex-column text-center justify-contents-center"
      >
        <h3 class="mb-4 promise-section--title">Donation</h3>
        <h3 class="mb-4 promise-section--subtitle">
          You can Donate on FundACause in 2 Ways
        </h3>

        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div
                class="
                  fundraising-step
                  d-flex
                  card
                  flex-wrap
                  justify-content-center
                  text-center
                "
              >
                <div
                  class="
                    mt-0
                    mb-auto
                    align-items-center
                    d-flex
                    flex-column flex-wrap
                  "
                >
                  <img alt="illustration for Create A Campaign" src="" />
                  <p class="step-title mb-2">Through Campaign Links</p>

                  <ul class="list-unstyled step-description mb-0 entry-content">
                    <li>
                      &#9642; Access campaign details from any platform where
                      the link shared
                    </li>
                    <li>
                      &#9642; Click on the unique campaign link and immediately
                      access the campaign page on FundACause
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div
                class="
                  fundraising-step
                  d-flex
                  card
                  flex-wrap
                  justify-content-center
                  text-center
                "
              >
                <div
                  class="
                    mt-0
                    mb-auto
                    align-items-center
                    d-flex
                    flex-column flex-wrap
                  "
                >
                  <img alt="illustration for Through Direct Search" src="" />
                  <p class="step-title mb-2">Through Direct Search</p>

                  <ul class="list-unstyled step-description mb-0 entry-content">
                    <li>
                      &#9642; Explore various causes you can donate to by
                      <span><a href="" class=""> categories </a> </span>
                    </li>
                    <li>
                      &#9642; Click on the cause you wish to donate to and
                      follow the prompts to make your donation
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-white d-flex justify-content-center flex-column">
  <div class="section-5 my-5">
    <section class="container">
      <div class="row d-flex text-center justify-contents-center">
        <h3 class="mb-4 promise-section--title">
          Getting Started on FundACause
        </h3>
        <div class="col-md-6 col-flex-item vertical-divider">
          <h4>Left column title</h4>
          <p>Left column text</p>
        </div>
        <div class="col-md-6 col-flex-item">
          <h4>Right column title</h4>
          <p>
            Right column text, which may be longer or shorter than the left
            column
          </p>
        </div>
      </div>
    </section>
  </div>
</section>

<section class="bg-light d-flex justify-content-center flex-column">
  <div class="section-6 my-5">
    <div class="container">
      <div
        class="mx-auto d-flex flex-column text-center justify-contents-center"
      >
        <h3 class="mb-4 promise-section--title">
          Setting up your Account Type
        </h3>

        <div
          class="
            accounts
            d-flex
            flex-wrap
            align-items-start
            justify-content-center justify-content-md-between
            mx-auto
          "
        >
          <div
            class="
              account
              d-flex
              card
              flex-wrap
              justify-content-center
              text-center
            "
          >
            <div
              class="
                mt-0
                mb-auto
                align-items-center
                d-flex
                flex-column flex-wrap
              "
            >
              <p
                class="
                  account-title
                  align-items-center
                  basic
                  d-flex
                  justify-content-center
                  mb-0
                  text-center text-uppercase
                "
              >
                <span> basic </span>
              </p>
              <div class="description-wrapper">
                <ul class="description mb-0">
                  <li class="text-left">
                    <span
                      >Maximum donation at a time
                      <b>₦50,000</b>
                    </span>
                  </li>
                  <li class="text-left">
                    <span
                      >Maximum profile limit is
                      <b>₦300,000</b>
                    </span>
                  </li>
                  <li class="text-left">
                    <span>Tier 1 identity requirement </span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div
            class="
              account
              d-flex
              card
              flex-wrap
              justify-content-center
              text-center
            "
          >
            <div
              class="
                mt-0
                mb-auto
                align-items-center
                d-flex
                flex-column flex-wrap
              "
            >
              <p
                class="
                  account-title
                  align-items-center
                  d-flex
                  justify-content-center
                  mb-0
                  standard
                  text-center text-uppercase
                "
              >
                <span> standard </span>
              </p>
              <div class="description-wrapper">
                <ul class="description mb-0">
                  <li class="text-left">
                    <span
                      >Maximum donation at a time
                      <b>₦200,000</b>
                    </span>
                  </li>
                  <li class="text-left">
                    <span
                      >Maximum profile limit is
                      <b>₦500,000</b>
                    </span>
                  </li>
                  <li class="text-left">
                    <span>Tier 2 identity requirement</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div
            class="
              account
              d-flex
              card
              flex-wrap
              justify-content-center
              text-center
            "
          >
            <div
              class="
                mt-0
                mb-auto
                align-items-center
                d-flex
                flex-column flex-wrap
              "
            >
              <p
                class="
                  account-title
                  align-items-center
                  d-flex
                  justify-content-center
                  mb-0
                  premium
                  text-center text-uppercase
                "
              >
                <span> premium </span>
              </p>
              <div class="description-wrapper">
                <ul class="description mb-0">
                  <li class="text-left">
                    <span
                      >Maximum donation at a time
                      <b>₦500,000</b>
                    </span>
                  </li>
                  <li class="text-left">
                    <span> <b>Unlimited</b> profile limit </span>
                  </li>
                  <li class="text-left">
                    <span>Tier 3 identity requirement</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
